{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Add a Campus</h1>

    <p>A new campus is about to enter the ring!</p>

    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}

    <button type="submit">Add this Campus !</button>
    {{ form_end(campusForm) }}

{% endblock %}

{% block title %}Add a Campus | {{ parent() }}{% endblock %}