body {
    background-color: #ffffff;
    border-radius: 60px;
    padding: 30px;
    margin: auto;
    font: small-caps 18px/1 sans-serif;
}

main {
    background-color: #ffffff;
    width: 80%;
    block-size: 80%;
    border-radius: 5px;
    margin: auto;


}

footer {
    padding-top: 50px;
    color: #838383;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #3252fa;
    border: 2PX solid darkblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: #1f9eff
}

.viewButton {
    background-color: #6897f5;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 30px;
    cursor: pointer;


    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 80%;
    background-color: #f6f6f6;
    /* Encadré pour voir les limites du formulaire */
    padding: 3em;
    border: 2px solid #000005;
    border-radius: 2em;
}


.flash {
    padding: 20px;
    display: block;
    font-size: 30px;
    color: white;
}

.flash-success {
    background-color: limegreen;
}

.flash-error {
    background-color: #cd3232;
}

table {


    width: 100%;
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}

tr {
    width: 100%;
}

td {
    width: 9%;
    border: none;

}

tr.listTrip {
    border-radius: 20px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, white 50%, #87cefa 50%) right;
    background-size: 200%;
    transition: .8s ease-out;
    transition: .6s ease-in;
}


tr.listTrip:hover {
    /*background-color: #A5D2E2;*/
    border-radius: 20px;
    background-position: left;
    border-color: transparent;

}

#textTitle {
    font-size: 40px;
    text-shadow: 2px 2px #f5ebeb;
    font-family: "Lucida Console", Courier, monospace;
    letter-spacing: 3px;

}

/**************** MENU NAV ****************/
#menu-demo2, #menu-demo2 ul {
    padding: 0;
    margin-top: 0;
    list-style: none;
    text-align: center;
    float: right;
    width: 100%;
}

#menu-demo2 li {
    display: inline-block;
    position: relative;
    border-radius: 8px 8px 0 0;
}

#menu-demo2 ul li {
    display: inherit;
    border-radius: 0;
}

#menu-demo2 ul li:hover {
    border-radius: 0;
}

#menu-demo2 ul li:last-child {
    border-radius: 0 0 8px 8px;
}

#menu-demo2 ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu-demo2 li:hover ul {
    max-height: 15em;
}

/* background des liens menus */
#menu-demo2 li:first-child {
    background-color: #1adcf6;
    background-image: -webkit-linear-gradient(top, #1adcf6 0%, #1a709f 100%);
    background-image: linear-gradient(to bottom, #1adcf6 0%, #1a709f 100%);
}

#menu-demo2 li:nth-child(2) {
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

#menu-demo2 li:nth-child(3) {
    background-color: #cd0029;
    background-image: -webkit-linear-gradient(top, #cf022c 0%, #60011f 100%);
    background-image: linear-gradient(to bottom, #cf022c 0%, #60011f 100%);
}

#menu-demo2 li:last-child {
    background-color: #a2a2a2;
    background-image: -webkit-linear-gradient(top, #9d9d9d 0%, #343434 100%);
    background-image: linear-gradient(to bottom, #9d9d9d 0%, #343434 100%);
}

/* background des liens sous menus */
#menu-demo2 li:first-child li {
    background: #1a709f;
}

#menu-demo2 li:nth-child(2) li {
    background: #333A40;
}

#menu-demo2 li:nth-child(3) li {
    background: #60011f;
}

#menu-demo2 li:last-child li {
    background: #677F35;
}

/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover {
    background: #1adcf6;
}

#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover {
    background: #729EBF;
}

#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover {
    background: #cf022c;
}

#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover {
    background: #b7b7b7;
}

/* les a href */
#menu-demo2 a {
    text-decoration: none;
    display: block;
    padding: 8px 70px;
    color: #fff;
    font-family: arial;
}

#menu-demo2 ul a {
    padding: 8px 0;
}

#menu-demo2 li:hover li a {
    color: #fff;
    text-transform: inherit;
}

#menu-demo2 li:hover a, #menu-demo2 li li:hover a {
    color: #000;
}

/**************** IMAGE FRATERNITY *********************/
.friendshipFraternity {
    width: 100%;
linear-gradient(to right, rgba(169, 208, 113, 0), rgba(136, 173, 215, 1));
}

.banner {
    width: 100%;
}

h1 {
    text-align: center;
}

#jumbled {

    color: transparent;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.9),
    .10em 0 0 rgba(212, 0, 0, 0.5),
    -.10em 0 0 rgb(55, 175, 191);
}

label {
    display: inline-block;
    width: 40%;
}

#trip_closingDate, #trip_startDate {
    display: inline-block;

}

.field {
    width: 20%;
    display: inline-block;
}

.trip:hover {
    background-color: #a5d2e2;

}

img.show {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #051e41;
}

img.tripIcone {
    max-width: 120px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #051e41;
}

tr.tripDetail:hover {
    background-color: transparent;

}

tr#picTr {
    background: #87CEFA;
    background: linear-gradient(90deg, #87CEFA, rgba(255, 255, 255, 1) 93%);
}
