{% extends 'layout.html.twig' %}

{% block main %}

    <h1>A new trip !</h1>

    <p>Create your trip</p>

    {{ form_start(tripForm) }}
    {{ form_widget(tripForm) }}

    <button type="submit">Create this trip !</button>
    {{ form_end(tripForm) }}

{% endblock %}

{% block title %}Create a new trip | {{ parent() }}{% endblock %}