{% extends 'layout.html.twig' %}

{% block main %}


    <h2>{{ trip.name }}</h2>
    <table>
        <tr class="tripDetail" id="picTr">
            <td id="picTd" ;><img class="show" src="{{ trip.urlPhoto }}">
            </td>
            <td><b>Nombre max:</b> {{ trip.numberMax }}</p>
                <b>Description</b>
                <p>{{ trip.description }}</p>
                <p><a href="{{ path('trip_detail', {'id': trip.id}) }}">
                        <br>
                        <button type="submit" class="viewButton">Register!</button>
                        </br>
                    </a></p>
            </td>
        </tr>
    </table>



{% endblock %}

{% block title %} Our Trip Details | {{ parent() }}{% endblock %}