{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Our trips</h2>
    {% for trip in trips %}
        <div class="trip">
            <table>
                <tr class="listTrip">
                    <td><img class="tripIcone" src="{{ trip.urlPhoto }}"></td>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.numberMax }} pax</td>
                    <td>{{ trip.description }}</td>
                    {# <td>{{ trip.status }}</td>
                    <td>{{ trip.organizer }}</td>
                    <td>{{ trip.condition }}</td> #}
                    <td>{{ trip.campus }}</td>
                    <td>{{ trip.location }}</td>
                    <td>{{ trip.duration }}</td>
                    {# <td>{{ trip.startDate }}</td>
                    <td>{{ trip.closingDateDate }}</td> #}
                    <td><a href="{{ path('trip_detail', {'id': trip.id}) }}">
                            <button type="submit" class="viewButton">More !</button>
                        </a></td>
                </tr>
            </table>
        </div>



    {% endfor %}
    <br>
{% endblock %}

{% block title %}Our trips | {{ parent() }}{% endblock %}
