{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Home</h1>

    {# {{ list }} #}

    Do you want to know all the ideas for cultural outings around you?
    It's now possible with the Fraternity app!
    Browse the profiles of your comrades from all over France and join the groups of outings, from hiking to cultural outing, you will never miss any opportunity to get together!
    <img class="friendshipFraternity" src="{{ asset('images/FriendshipFraternity.png') }}" title="fraternity"
         alt="Fraternity">
{% endblock %}


{% block title %}Home | {{ parent() }}{% endblock %}