{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Test</h1>

    <h2>Congratulations !</h2>

    <p>Welcome and find your new fraternity !
        <br>Vous souhaitez connaître toutes les idées de sorties culturelles autour de vous ? C'est maintenant possible
        avec l'application FRATERNITY</p>


{% endblock %}

{% block title %}Test | {{ parent() }}{% endblock %}