{% extends 'layout.html.twig' %}

{% block main %}

    <h1>Here you can register a new member </h1>

    <p>Don't forget to give him the details</p>

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}

    <button type="submit">Add this random guy now!</button>
    {{ form_end(userForm) }}

{% endblock %}

{% block title %}Register | {{ parent() }}{% endblock %}