{% extends 'layout.html.twig' %}


{% block main %}

    <div><h1>Add a City</h1>

        <p>A new city is about to appear!</p>

        {{ form_start(cityForm) }}
        {{ form_widget(cityForm) }}

        <button type="submit">Add this City !</button>


        <h2>Cities Available</h2>
        {% for city in cities %}
            <div class="city">
                <table>
                    <tr>
                        <td>{{ city.cityName }}</td>
                        <td>{{ city.postal }}</td>
                    </tr>
                </table>
            </div>

        {% endfor %}

    </div>


{% endblock %}




{% block title %}Add a Campus | {{ parent() }}{% endblock %}