<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Project Fraternity{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset("css/app.css") }}">
    <a href="http://localhost/fraternityproject/public"><img class="banner"
                                                             src="{{ asset('images/FraternityBanner.jpg') }}"
                                                             title="my image" alt="My image"></a>
</head>

<body>
<div class="container">
    <header>
        <h1 id="jumbled">PROJECT FRATERNITY</h1>
        {% include('inc/nav.html.twig') %}
    </header>

    <main>
        {% block main %}{% endblock %}
        <div id="content">
            {% block main2 %}{% endblock %}
        </div>

    </main>

    <footer>
        &copy;{{ "now"|date("Y") }} Project Fraternity, Inc.
    </footer>
</div>
</body>
</html>