<link rel="stylesheet" href="{{ asset('css/app.css') }}"/>
<nav>
    <ul id="menu-demo2">
        <li><a href={{ path('trip_list') }}>TRIPS</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="#">DESKTOP</a>
                <ul>
                    <li><a href={{ path('update') }}>My profile</a></li>
                    <li><a href={{ path('create_trip') }}>Create</a></li>
                </ul>
            </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED', 'ROLE_ADMIN') %}
            <li><a href="#">ADMIN</a>
                <ul>
                    <li><a href={{ path('admin_add') }}>Add a Member</a></li>
                    <li><a href="{{ path('add_campus') }}">Add a Campus</a</li>
                    <li><a href="{# path('add_city') #}">Add a City</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href={{ path('logout') }}>LOGOUT</a></li>
        {% else %}
            <li><a href={{ path('login') }}>LOGIN</a></li>
        {% endif %}

</nav>


