{% extends 'layout.html.twig' %}


{% block main %}

    <form method="post">
        <div><h1>Welcome to the best place ever!</h1>

        Please enter your credentials to enter the fraternity</div><br>
        <div><label for="username">Username:</label>
        <input type="text" name="_username" id="username">
        <br><label for="password">Password:</label>
        <input type="password" name="_password" id="password">

        <br><label for="remember_me">Remember me:</label>
        <input type="checkbox" id="remember_me" name="_remember_me" />

        <br><br><button type="submit">Login !</button></div>
    </form>



{% endblock %}

{% block title %}Login | {{ parent() }}{% endblock %}