{% extends 'layout.html.twig' %}

{% block main %}

    <div>
        <h1>LOGIN ERROR! ❌</h1>

        Sorry, but it seems you are not part of the fraternity!
        Please contact support!

        <br><code><a href="{{ "http://localhost/fraternity/fraternity/public/login"}}">Or try again!</a></code></div>
{% endblock %}
{% block title %}Login | {{ parent() }}{% endblock %}