{% extends 'layout.html.twig' %}
{% block main %}

      <h1> Let me introduce you to... </h1>

    <h2>{{ app.user.username }} </h2>
    {{ user.lastName }}<br>
            {{ user.firstName }}<br>
            {{ user.phone }}<br>
            {{ user.mail }}<br>
            {{ user.campus }}<br>

{% endblock %}

{% block title %}Register | {{ parent() }}{% endblock %}