{% extends 'layout.html.twig' %}
{% block main %}

{#   <h1>Welcome {{ app.user.lastName }} {{ app.user.firstName }}</h1> #}

    <h2>Feel free to update your details</h2>


   {{ form_start(userForm)}}
    {{ form_widget(userForm) }}

    <button>Send updates!</button>
    {{ form_end(userForm) }}

{% endblock %}

{% block title %}Register | {{ parent() }}{% endblock %}
